/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 Aug, 2015, 5:22:13 PM
    Author     : Rahul
*/
.delivery-docket{
    font-family: helvetica !important;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.border-bottom-black {
    border-bottom: 1px solid #000;
}
.width-100 {
    width: 100%;
}
.width-90 {
    width: 90%;
}
.width-80 {
    width: 80%;
}
.width-70 {
    width: 70%;
}
.width-75 {
    width: 75%;
}
.width-60 {
    width: 60%;
}
.width-50 {
    width: 50%;
}
.width-40 {
    width: 40%;
}
.width-30 {
    width: 30%;
}
.width-28 {
    width: 28%;
}
.width-26 {
    width: 26%;
}
.width-25 {
    width: 25%;
}
.width-22 {
    width: 22%;
}
.width-20 {
    width: 20%;
}
.width-18 {
    width: 18%;
}
.width-15 {
    width: 15%;
}
.width-10 {
    width: 10%;
}
.width-6 {
    width: 6%;
}
.width-5 {
    width: 5%;
}
.width-4 {
    width: 4%;
}
.width-2 {
    width: 2%;
}
.font-bold {
    font-weight: bold;
}
.font-size-10 {
    font-size: 10px;
}
.font-size-11 {
    font-size: 11px;
}
.font-size-19 {
    font-size: 19px;
}

.valign_top {
    vertical-align: top;
}

table.booking-sheet, table.purchase-order  {
    border-spacing: 0;
    border-collapse: unset;
    width:100%;
    font-family: Times-Roman;
    font-size: 15px;
}
table.booking-sheet b, table.purchase-order b {
    font-family: Times-Roman;
    font-size: 14px;
}
table.booking-sheet td, table.purchase-order td {
    padding: 3px 7px;
}
table.booking-sheet th, table.purchase-order th {
    padding: 4px 7px;
}

.delivery-docket {
    width: 100%;
    text-align: justify;
    margin: 0;
    font-family: Times-Roman;
    font-size: 15px;
}
.delivery-docket table {
    border-spacing: 0;
    border-collapse: unset;
    width:100%;
    font-family: Times-Roman;
    font-size: 15px;
}
.delivery-docket table td {
    padding: 1px 4px;
}
.signature-table {
    width: 100%;
    margin: 10px auto;
}
.signature-table td { 
    padding-top: 33px;
}
h1, h2, h3, h4, h5, h6 {
    padding: 5px 0;
    margin: 5px 0;
}
.gray-bg {
    background-color: #e2e2e2;
}
.remove-border { border: 0; }
.remove-bottom-border { border-bottom: 0; }
.remove-top-border { border-top: 0; }
.remove-right-border { border-right: 0; }
.remove-left-border { border-left: 0; }

.inner-cls, .inner-cls  th,.inner-cls td {
    border: 0.5px solid black;
/*    border-style: initial;
    border: 1px;
    border-color: black;*/
    border-collapse: collapse;
    border-spacing: 0;
}
.inner-cls  th,.inner-cls td {
      padding: 5px;
}
.inner-cls th{
    font-size: 13px !important;
}
.inner-cls td{
    font-size: 14px !important;
}
.seller_nm{
    font-family: Helvetica !important;
    letter-spacing: 1px !important;
    text-shadow: 1px 0 0 #eee, 2px 1px 0 #808080 !important;
}