
// Login Page
.login-main {
    width: 100%;
}
.login-content {
    width: 40%;
    margin: 100px auto;
}
.login-main .login-content h3 {
    margin: 15px auto;
    font-weight:bold;
    text-align: center;
}

// custom message style
div#message:before {
    background-color: #fff;
    border-radius: 15px;
    color: #dce47e;
    font-size: 20px;
    height: 12px;
    left: -11px;
    line-height: 0;
    padding: 12px 14px 12px 10px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 12px;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
div#message {
    background-color: #dce47e;
    border-color: #dce47e;
    border-style: solid;
    border-width: 1px;
    color: #626262;
    font-weight: normal;
    padding: 0.875rem 1.5rem 0.875rem 2%;
    position: relative;
    transition: opacity 300ms ease-out 0s;
    display: none;
    margin-bottom: 10px;
}
div#message.error:before {
    color: #c3232d;
    padding: 11px 16px 14px 7px;
}
div#message.error {
    background-color: #c3232d;
    border-color: #c3232d;
    color: #fff;
}

input[type="checkbox"], input[type="radio"] {
    margin: 0 !important;
}

.cls-txt{
    padding-bottom:20px;
}

.label-cust{
    float: left; 
    width: 20%;
}

.label-cust-rght{
    float: right;
    width: 80%;
}

.hide-cls{
    display: none !important;
}

.padding-rt-cls{
    padding-right: 5px;
}
.padding-lft-cls{
    padding-left:  5px;
}

.width-5-per { width: 5%; }
.width-10-per { width: 10%; }
.width-15-per { width: 15%; }
.width-20-per { width: 20%; }
.width-25-per { width: 25%; }
.width-30-per { width: 30%; }
.width-35-per { width: 35%; }
.width-40-per { width: 40%; }
.width-45-per { width: 45%; }
.width-50-per { width: 50%; }
.width-55-per { width: 55%; }
.width-60-per { width: 60%; }
.width-65-per { width: 65%; }
.width-70-per { width: 70%; }
.width-75-per { width: 75%; }
.width-80-per { width: 80%; }
.width-85-per { width: 85%; }
.width-90-per { width: 90%; }
.width-95-per { width: 95%; }
.width-100-per { width: 100%; }
.margin-0-auto { margin: 0 auto; }

.border-radius-1 { border-radius: 1px;}
.border-radius-2 { border-radius: 2px;}
.border-radius-3 { border-radius: 3px;}
.border-radius-4 { border-radius: 4px;}
.border-radius-5 { border-radius: 5px;}

.text-red { color: red; }

.action-anch a:hover{text-decoration: none;}
.link-deco{text-decoration: none !important;}
.thead-col a{color: #000;}
.align-center{text-align: center;}
.aligh-right{text-align: right;}
.th-5-wd{width: 5%;}
.th-95-wd{width: 95%;}
.float-right-important {float: right!important;}
.pagination { margin: 0; float: right !important; }
.glyphicon-ok-circle{font-size: 17px !important;}
.glyphicon-remove-circle{font-size: 17px !important;}
.form-horizontal .form-group.form-md-line-input .input-icon .form-control { padding-left: 0; }
.padding-top-bottom-10 { padding: 10px 0px 10px; }
.font-size-14 { font-size: 14px !important;font-weight: bolder !important; }
.font-size-13 { font-size: 13px !important;font-weight: bolder !important; }
.page-header.navbar .page-logo .logo-default {
    margin: 0 !important;
}

.sort-default-color {
    color: #898989;
    margin: 3px 0;
}
.sort-active-color {
    color: #161616;
    margin: 3px 0;
}

// configuration page design
.portlet-body > .configuration-portlet-body {
    padding: 25px !important;
}
.configuration-icon-btn {
    height: 90px;
    padding: 25px 0 0 0;
    min-width: 100%;
}
.configuration-icon-btn .fa {
    font-size: 20px;
}
.configuration-icon-btn > .badge {
    padding: 7px 10px;
    height: 25px;
    right: -10px;
    top: -10px;
    font-weight: bold;
}

.date-picker {
    padding-left: 32px;
}

.courier-logo-thumb img {
    width: 150px; 
    height: 80px;
}

.width-750 {
    width: 750px;
}
.width-1000 {
    width: 1000px;
}
#check_excel_format .master-itmes-excel-format {
    width: 100%;
}
#change_password_error_msg {
    width: 95%;
}
.active-po-record-cnt {
    position: relative;
    right: 7px;
    top: -10px;
    font-weight: bold;
}
.control-label-top {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

#uniform-access-status-active, 
#uniform-access-status-inactive,
#uniform-invoice-generate-by-myob,
#uniform-invoice-generate-by-quick-books {
    margin: -9px 6px 0 0;
}

.radio-input-icon label {
    margin-right: 15px;
}

.packages {
    margin: 0 auto !important;
}
.packages .top-news .package-header {
    border-radius: 7px 7px 0 0!important;
    margin-bottom: 0;
    font-weight: bold;
}
.packages .packages-details {
    height: 400px;
    background: url("../img/packages-bg.gif") no-repeat scroll left top #f3f4f4;
    border-bottom: 2px solid #cdcfd1;
    background-size: 100% auto;
    padding: 0 20px;
}
.packages .packages-details p.Price {
    color: #636466;
    font-family: Cambria;
    font-size: 30px;
    letter-spacing: -3px;
    line-height: 120px;
    text-align: center;
}
.packages .packages-details p.Price span {
    color: #58595b;
    font-size: 55px;
    display: inline-table;
}
.packages .packages-details  p.Duration {
    background: url("../img/duration-pattern.gif") repeat-x scroll left top rgba(0, 0, 0, 0);
    color: #636466;
    font-size: 12px;
    height: 38px;
    line-height: 38px;
}
.packages .packages-details ul {
    color: #636466;
    padding: 5px 15px;
    height: 120px;
}
.packages .packages-details ul li{
    padding: 3px 0;
}
.packages .packages-details .stripe-button-el {
    border-radius: 5px !important;
    background-image: linear-gradient(#5bc5bb, #0d776d) !important;
}
.packages .packages-details .stripe-button-el span {
    line-height: 35px;
    background: linear-gradient(#62ccc2, #248e84 85%, #1d877d) repeat scroll 0 0 #3396f3;
    padding: 0 15px;
}

.padding-bottom-10px{
    padding-bottom: 10px;
}

.float-right{
    float: right;
}

.padding-top-10{
    padding-top: 10px;
}

.padding-rt-40{
    padding-right: 40px;
}

.text-deco-none{
    text-decoration: none !important;
}

.txt-bold{
    font-weight: bold;
}

.padding-top-30{
    padding-top: 30px;
}

.sub-link{
    color: #26a69a;
}
.sub-link:hover{
    color: #1f897f;
}